<div id="header">
    <div id="logo">
        <a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li {{#if isHome}}class="selected"{{/if}}>           
                <a href="/">Home</a>
            </li>
            <li {{#if isTravel}}class="selected"{{/if}}>       
                <a href="/travel">Travel</a>
            </li>
            <li {{#if isRooms}}class="selected"{{/if}}>       
                <a href="rooms.html">Rooms</a>
            </li>
            <li {{#if isMeals}}class="selected"{{/if}}>       
                <a href="meals.html">Meals</a>
            </li>
            <li {{#if isNews}}class="selected"{{/if}}>       
                <a href="news.html">News</a>
            </li>
            <li {{#if isAbout}}class="selected"{{/if}}>       
                <a href="about.html">About</a>
            </li>
            <li {{#if isContact}}class="selected"{{/if}}>       
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</div>